.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); background: none; }

    *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    html{
      font-size: 14px;
      font-family: 'Inter', sans-serif;
    }

    body{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100vh;
      background-color: hsl(0, 0%, 8%);
      color: hsl(0, 0%, 100%);
    }

    main{
      background-color: hsl(0, 0%, 12%);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border-radius: 1rem;
      padding: 1.5rem;
      width: 90vw;
      max-width: 30rem;
    }

    img{
      border-radius: 50%;
      height: 6rem;
      margin: 0 0 1.5rem 0;
    }

    h1{
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    h2{
      font-weight: 600;
      font-size: 1rem;
      color: hsl(75, 94%, 57%);
      margin-bottom: 1.5rem;
    }

    p{
      font-weight: 400;
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    a{
      background-color: hsl(0, 0%, 20%);
      text-decoration: none;
      color: hsl(0, 0%, 100%);
      width:90%;
      font-weight: 600;
      padding: .7rem 0;
      margin-top: 1rem;
      border-radius: .5rem;
    }

    footer{
      padding: 2rem auto;
    }

    @media screen and (min-width:750px) {
      main{
        padding: 3rem;
      }

      a:hover{
        color:hsl(0, 0%, 20%);
        background-color: hsl(75, 94%, 57%);
      }
    }